@import '../../partials/colors';

.first-banner {
  position: relative;
  top:-10vh;
  z-index: 1;
}

.banner {
  background-image: linear-gradient(to right, $blue, $bluishGreen);
  min-height: 100vh;
  padding-top: 20vh;
  overflow: hidden;
  
  .banner--left, .banner--img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .banner--left {
    flex-direction: column;
    
    .banner--title {
      color: white;
      font-size: 3.5em;
      padding-bottom: 30px;
      font-weight: bold;
      line-height: 1.3;
    }

    p {
      color: rgba(255, 255, 255, 0.6);
      line-height: 1.5;
      font-size: 110%;
    }
  }

  .banner--img {
    img {
      max-width: 100%
    }
  }
}

.subtitle {
  margin: 0;
  padding: 20px 0px;
  font-size: 1.8em;
}

section {
  .title {
    text-align: center;
    font-size: 2.5em;
    padding-top: 60px;
    padding-bottom: 60px;
    font-weight: bold;
  }
}

.iconContact {
  padding: 25px 0px;
  
  i {
    font-size: 2.8em;
  }

  .top {
    font-weight: bold;
    font-size: 1.1em;
  }

  .bot {
    opacity: .8;
    font-size: 1.1em;
    padding-bottom: 50px;
  }
}

.video {
  position: relative;
  min-height: 90vh; 

  .video--desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
   
  .video--preview {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,.2);
    }

    img {
      max-width: 100%;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 101%;
      height: 100%;
      z-index: 1000;
      background-image: url(http://aazztech.com/demos/themes/html/tizara/dist/img/img_shape2.png);
      background-repeat: no-repeat;
      background-size: 100% 101%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      i {
        background-color: $blue;
        padding: 15px;
        border-radius: 50%;
        font-size: xx-large;
        cursor: pointer;
      }
    }
  }
}