.listMentores {
  margin-left: auto;
  margin-right: auto;
  min-height: 90vh;
  padding-top: 20px;
  padding-bottom: 35px;

  .searchBox {
    width: 100%;
    margin: 0 !important;
  }

  .options {
    padding: 15px;
    position: fixed;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    box-shadow: 0rem 0 1.33333rem rgba(87,87,87,.25);
    z-index: 100000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-out;

    &::-webkit-scrollbar {
      display: none;
    }
    .search {
      position: relative;
      height: 5vh;
      bottom: 0;
    }
    
    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }

  .cover {
    content: '';
    height: 100%;
    width: 100%;  
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0,0,0,.1);
  }
}