.profile {
  width: 90%;
  padding: 70px 20px ;
  box-sizing: border-box;
  margin: auto;
  height: 90vh;

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &.edit:hover, &.edit:hover .click-edit {
      cursor: pointer;
      visibility: visible;
      opacity: 1;
    }


    .click-edit {
      position: absolute;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: .3s ease;

      i {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
  }
  
  .info {
    padding-top: 25px;
    
    p {
  
      text-align: center;
    }
  }

  .generalInfo {
    padding: 0 50px;
    
    p {
      line-height: 25px;
    }
    
    
    .important {
      padding: 10px 0;
    }
    
    .name {
      padding: 15px 0;
      font-size: x-large;
    }

    .bio {
      padding: 15px 0;
    }
  }

  .gestion {
    margin: 70px 0px;
    overflow: hidden;

    .main {
      padding: 10px 35px;
    }
    
    .side {
      padding: 0;
      background-color: rgba(0, 0, 0, .03);

      .option {
        cursor: pointer;
        transition: .4s ease-out;
        padding: 14px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        * {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .material-icons {
          padding: 0px 7px 0px 0px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, .1);
        }
      }
    }
  }
}

.gestionUsuarios, .gestionList {
  .list {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* FLEXBOX GRID XS */
@media only screen and (min-width: 0px) {
  
}

/* FLEXBOX GRID MD */
@media only screen and (min-width: 768px) {
  .profile {
    .gestion {

      .main {
        height: 55vh;
        overflow-y: scroll;
        overflow-x: hidden; 

        &::-webkit-scrollbar {
           width: 0 !important
        }
      }
    }
  }
}