footer {
  background-color: #f4f4f4;
  .subtitle {
    text-align: start !important;
    font-size: 130%;
    font-weight: bold;
    padding: 0;
    padding-bottom: 15px;
  }

  .link {
    text-align: start !important;
    a {
      color: initial;
      opacity: .55;
      text-decoration: none;
    }
  }
}