@import '../../partials/colors';

.Section {
  padding-bottom: 80px;
  background-position: center;
  position: relative;
  div.row {
    z-index: 10;
  }
}

.Section.bgImage::before {
  width: 100%;
  content: '';
  position: absolute;
  height: 100%;
  z-index: 0;
  background-color: rgba(22, 12, 77, 0.6);
}

.CallToAction {
  padding: 25px 0px;
  
  h4 {
    font-size: 2em;
  }

}

.button {
  text-decoration: none;
  background-color: $blue;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  transition: .4s ease-out;
  border: none;
}

.button:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,.35);
}

.form1 {
  padding: 70px 20px;
}

input[type="password"], input[type="text"], textarea {
  padding: 10px 0px !important;
  font-size: 1.2em;
  border: 1px solid rgba(32, 36, 40, 0.15);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: 15px 0px;
  transition: .4s ease-out;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: $bluishGreen;
}