@import '../../partials/colors';

.Section {
  padding-bottom: 80px;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  border-bottom: 1px solid #e4e8ed;
  min-height: 50vh;
  
  div.row {
  }

  .title {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
  }
}

.Section.waves {
  background: url(http://aazztech.com/demos/themes/html/tizara/dist/img/shape-wave2.png) center/100% 100% no-repeat;
  border: 0;
}

.Section.full {
  min-height: 90vh;
}

.Section.bgImage::before {
  width: 100%;
  content: '';
  position: absolute;
  height: 100%;
  z-index: 0;
  background-color: rgba(22, 12, 77, 0.6);
}

.CallToAction {
  padding: 50px 0px;
  background-image: linear-gradient(to right, $blue, $bluishGreen);
  &.invert {
    background-image: linear-gradient(to left, $blue, $bluishGreen);
  }
  
  h4 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 15px;
  }

  .btn-container {
    padding: 50px 0px;
  }
}

a.button, .button {
  text-decoration: none;
  background-color: $blue;
  padding: 12px 30px;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  transition: .4s ease-out;
  border: none;
  cursor: pointer;
  font-size: small;
  line-height: 20px;

  a {
    color: white;
    text-decoration: none;
  }
}

.button:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,.35);
}

.button.button-border {
  background-color: rgba(0,0,0,0);
}

.button.button-border.red {
  border: 1px solid $red;
  color: $blue;

  &:hover {
    box-shadow: 0px 0px 10px $red-s;
  }

  a {
    color: $red;
  }
}

.button.button-border.blue {
  border: 1px solid $blue;
  color: $blue;
}

.button.button-border.bluishGreen {
  border: 1px solid $bluishGreen;
  color: $bluishGreen;

  &:hover {
    box-shadow: 0px 0px 10px $bluishGreen-s;
  }

  a {
    color: $bluishGreen;
  }
}

.button.button-border.red {
  border: 1px solid $red;
  color: $red;
}

.form1 {
  padding: 70px 20px;
}

input[type="password"], input[type="text"], textarea, select, input[type="date"], input[type="time"], input[type="email"] {
  padding: 15px !important;
  font-size: medium;
  border: 1px solid rgba(32, 36, 40, 0.15);
  margin: 15px 0px;
  transition: .4s ease-out;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

input:invalid {
  border: 1px solid $red;
  box-shadow: 0 0 5px $red;
}

input:focus, textarea:focus, select:focus {
  outline: 0;
  border-color: $bluishGreen;
}

.img-wrap {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-self: center;
  box-shadow: 0px 5px 20px 0px rgba(228, 232, 237, 0.85);
  
  img {
    width: 100%;
  }
  
  &.large {
    width: 80px;
    height: 80px;
  }
}