@import '../../partials/colors';

.Section {
  padding-bottom: 80px;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  div.row {
    z-index: 10;
  }
}

.Section.full {
  min-height: 90vh;
}

.Section.bgImage::before {
  width: 100%;
  content: '';
  position: absolute;
  height: 100%;
  z-index: 0;
  background-color: rgba(22, 12, 77, 0.6);
}

.CallToAction {
  padding: 25px 0px;
  
  h4 {
    font-size: 2em;
  }

}

a.button, .button {
  text-decoration: none;
  background-color: $blue;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  transition: .4s ease-out;
  border: none;
  cursor: pointer;
  font-size: small;

  a {
    color: white;
    text-decoration: none;
  }
}

.button:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,.35);
}

.button.button-border {
  background-color: rgba(0,0,0,0);
}

.button.button-border.blue {
  border: 1px solid $blue;
  color: $blue;
}

.button.button-border.bluishGreen {
  border: 1px solid $bluishGreen;
  color: $bluishGreen;

  a {
    color: $bluishGreen;
  }
}

.button.button-border.red {
  border: 1px solid #E24336;
  color: #E24336;
}

.form1 {
  padding: 70px 20px;
}

input[type="password"], input[type="text"], textarea, select {
  padding: 15px !important;
  font-size: 1em;
  border: 1px solid rgba(32, 36, 40, 0.15);
  margin: 15px 0px;
  transition: .4s ease-out;
  border-radius: 5px;
}

input:focus, textarea:focus, select:focus {
  outline: 0;
  border-color: $bluishGreen;
}