@import './partials/constants';
@import './partials/fonts';
@import './partials/colors';

html, body, h1, h2, h3, p, textarea {
  margin: 0;
  font-weight: normal;
  overflow-x: hidden;
  @include normalFont();
  font-size: 15px;
  line-height: 30px;
}

button {
  @include normalFont();
}

body {
  color: $black;
}

main {
  padding-top: $NAVBAR_HEIGTH;
}

.img-slider {
  img {
    width: 100%;
  }
}

.be-blue {
  background-color: $blue;
}

.blue {
  color: $blue;
}

.be-white {
  background-color: #fff;
}

.white {
  color: white;
}

.gray {
  color: $gray;
}

.be-gray {
  color: $gray;
}

.black {
  color: $black;
}

.be-black {
  color: $black;
}

.be-bluishGreen {
  background-color: $bluishGreen !important;
}

.bluishGreen {
  color: $bluishGreen;
}

.small-padding {
  padding: 15px;
}

.medium {
  font-weight: 500;
  line-height: 25px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600;
  line-height: 33px;
}