@import './partials/constants';
@import './partials/fonts';
@import './partials/colors';

html, body {
  overflow-x: hidden;
}

html, body, h1, h2, h3, p, textarea {
  margin: 0;
  font-weight: normal;
  @include normalFont();
  font-size: 15px;
  line-height: 30px;
}

h1, h2, h3, h4, h5 {
  font-weight: 600 !important;
}

button {
  @include normalFont();
}

body {
  color: $black;
}

main {
  padding-top: $NAVBAR_HEIGTH;
}

.img-slider {
  img {
    width: 100%;
  }
}

.container {
  width: 100% !important;
  padding-right: 5vw !important;
  padding-left: 5vw !important;
  margin: 0px auto !important;
  overflow: hidden !important;

  .col-md {
    padding: 0 15px !important;
  }
}

.be-blue {
  background-color: $blue;
}

.blue {
  color: $blue;
}

.be-white {
  background-color: #fff;
}

.white {
  color: white;
}

.gray {
  color: $gray;
}

.be-gray {
  color: $gray;
}

.black {
  color: $black;
}

.be-black {
  color: $black;
}

.be-bluishGreen {
  background-color: $bluishGreen !important;
}

.bluishGreen {
  color: $bluishGreen;
}

.small-padding {
  padding: 15px;
}

.medium {
  font-weight: 500 !important;
  line-height: 25px;
}

.bold {
  font-weight: 700;
}

.semi-bold {
  font-weight: 600 !important;
  line-height: 33px !important;
}

.large {
  font-size: large;
}

.x-large {
  font-size: x-large;
}

.xx-large {
  font-size: 30px;
  line-height: 42px;
}

.separate {
  margin: 25px 0px;
}